.container {
            margin-top: 100px;
            font-family: 'Raleway', sans-serif;
            
            
        }

        .card {
            box-shadow: 1px 1px 5px #888888;
        }

        .title {
            padding: 15px 0 0 0;
        }

        .fa {
            margin-left: 2px;
            font-size: 20px;
            
        }

        .new_quote_btn {
            margin-top: 30px;
            border: 0;
            width: 200px;
        }

        .social {

            border: 0;
            width: 50px;
            margin-right: 2px;
            padding: 5px 0 5px 0;
        }
